


table tr:nth-child(odd){
    background-color: blanchedalmond;
}



@media (max-width: 400px) {
    #home{
        display: block !important;
        margin-top: -30px !important;
    }

    

}
 

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    body{
        min-width: 375px;
        
    }
    body #img {
        width: 200px !important;
    }
    
    table {
        
        font-size: 8px;
        padding: 0;
        
    }
    #sort {
        flex-direction: column;
    }
    #sort div {
        margin-left: 0 !important;
    }
    
    #linka .btn {
        display: block;
        width: 90px;
        font-size: 50%;
        text-align: center;
    }
    #container {
        max-width: 600px;
        overflow: auto;

    }
    #container2 {
        max-width: 600px;
        overflow: auto;

    }
    #linka {
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
    }
    #logout {
        display: block;
        font-size: small;
        margin-top: -5px !important;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }