@font-face {
    font-family: 'balooDa';
    src: url('../fonts/BalooDa-Regular.woff2') format('woff2'),
         url('../fonts/BalooDa-Regular.woff') format('woff');
    
  }
@font-face {
font-family: 'calibri';
src: url('../fonts/calibri-regular.woff2') format('woff2'),
        url('../fonts/calibri-regular.woff') format('woff');

}
@font-face {
    font-family: 'stamp';
    src: url('../fonts/Stamp.woff2') format('woff2'),
            url('../fonts/Stamp.woff') format('woff');
    
}

body {
    font-family: 'calibry', sans-serif;
    background-color: #afaead;
    height: 100%;
    padding: 25px 0 25px 0;
    font-size: 10pt;
}

.container-xl {
    width: 210mm;
    /* height: 297mm; */
    background-color: white;
}


@media print {
    @page {
        size: A4;
        margin: 1cm;
    }
    .container-xl {
        width: 100%;
        height: 100%;
        font-size: 8pt !important;
    }
  
    /* Tambahkan gaya cetak khusus atau penyesuaian lainnya di sini */
    body {
      background-color: white;
    }
    
    #print,
    .send, 
    #save-button,
    #foot-hr {
        display: none !important;
    }
    
  }



/* CUSTOM */

h1{
    font-size: 50px !important;
}

.tb-right {
    text-align: right !important;
}
.tb-center {
    text-align: center !important;
}
.font-head{
    font-family: 'balooDa', sans-serif;
    color: #606060;
}
.font-stamp{
    font-family: 'stamp', sans-serif;
}
.head-color {
    color: #FF8F56;
}
.w-fit-content {
    width: fit-content !important;
}
.h-fit-content {
    height: fit-content !important;
}
#barcode {
    top: 0;
    left: 50px;
}

#qrcode-text {
    font-size: 10px;
}

.syarat {
    font-size: 12px;
}

.stamp {
    border: 5px dashed #68f528;
    border-radius: 10px; 
    transform: rotate(-20deg);
    opacity: .5;
    color: #68f528;
}
#stamp {
    top: 22%;
    left: 15%;
}

.mb-min-1 {
    margin-bottom: -0.5rem !important;
}
